# Ignore all log/temp/etc... files
/log/
/tmp/
/tags

# Package and dependency caches
/.ruby-version
/.bundle
/Gemfile.lock
/pkg/

# Generated documentation
/.yardoc
/_yardoc/

# Spec reports and failure tracking
/coverage/
/spec/rspec-status.txt
/spec/reports/
